<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXE7l-PY1EMmU4KwfQTjya3z3jHj4TDFs</string>
	<key>GCM_SENDER_ID</key>
	<string>369552521469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Michael-Bolgar.BookStore</string>
	<key>PROJECT_ID</key>
	<string>bookstore-ebeaf</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstore-ebeaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369552521469:ios:c1b9fcaffe6bc7833fa694</string>
</dict>
</plist>